<?xml version="1.0" ?>
<robot name="gen_hexapod_spider">
  <link name="trunk">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="6.921"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.5 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.5 0.1"/>
      </geometry>
    </collision>
  </link>
  <link name="leg_1_hip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.678"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_1_hip_joint" type="revolute">
    <parent link="trunk"/>
    <child link="leg_1_hip"/>
    <origin xyz="0.47631397208144133 0.27499999999999997 0" rpy="0 0 0.5235987755982987"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_1_thigh">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.152"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_1_thigh_joint" type="revolute">
    <parent link="leg_1_hip"/>
    <child link="leg_1_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_1_calf">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.154"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_1_knee_joint" type="revolute">
    <parent link="leg_1_thigh"/>
    <child link="leg_1_calf"/>
    <origin xyz="0.22 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_1_foot">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.04"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_1_ankle_joint" type="fixed">
    <parent link="leg_1_calf"/>
    <child link="leg_1_foot"/>
    <origin xyz="0.08800000000000001 0 0" rpy="0 0 0"/>
  </joint>
  <link name="leg_2_hip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.678"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_2_hip_joint" type="revolute">
    <parent link="trunk"/>
    <child link="leg_2_hip"/>
    <origin xyz="3.367778697655222e-17 0.55 0" rpy="0 0 1.5707963267948966"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_2_thigh">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.152"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_2_thigh_joint" type="revolute">
    <parent link="leg_2_hip"/>
    <child link="leg_2_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_2_calf">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.154"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_2_knee_joint" type="revolute">
    <parent link="leg_2_thigh"/>
    <child link="leg_2_calf"/>
    <origin xyz="0.22 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_2_foot">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.04"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_2_ankle_joint" type="fixed">
    <parent link="leg_2_calf"/>
    <child link="leg_2_foot"/>
    <origin xyz="0.08800000000000001 0 0" rpy="0 0 0"/>
  </joint>
  <link name="leg_3_hip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.678"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_3_hip_joint" type="revolute">
    <parent link="trunk"/>
    <child link="leg_3_hip"/>
    <origin xyz="-0.47631397208144133 0.27499999999999997 0" rpy="0 0 2.6179938779914944"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_3_thigh">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.152"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_3_thigh_joint" type="revolute">
    <parent link="leg_3_hip"/>
    <child link="leg_3_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_3_calf">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.154"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_3_knee_joint" type="revolute">
    <parent link="leg_3_thigh"/>
    <child link="leg_3_calf"/>
    <origin xyz="0.22 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_3_foot">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.04"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_3_ankle_joint" type="fixed">
    <parent link="leg_3_calf"/>
    <child link="leg_3_foot"/>
    <origin xyz="0.08800000000000001 0 0" rpy="0 0 0"/>
  </joint>
  <link name="leg_4_hip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.678"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_4_hip_joint" type="revolute">
    <parent link="trunk"/>
    <child link="leg_4_hip"/>
    <origin xyz="-0.4763139720814413 -0.2750000000000001 0" rpy="0 0 -2.6179938779914944"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_4_thigh">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.152"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_4_thigh_joint" type="revolute">
    <parent link="leg_4_hip"/>
    <child link="leg_4_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_4_calf">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.154"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_4_knee_joint" type="revolute">
    <parent link="leg_4_thigh"/>
    <child link="leg_4_calf"/>
    <origin xyz="0.22 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_4_foot">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.04"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_4_ankle_joint" type="fixed">
    <parent link="leg_4_calf"/>
    <child link="leg_4_foot"/>
    <origin xyz="0.08800000000000001 0 0" rpy="0 0 0"/>
  </joint>
  <link name="leg_5_hip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.678"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_5_hip_joint" type="revolute">
    <parent link="trunk"/>
    <child link="leg_5_hip"/>
    <origin xyz="-1.0103336092965664e-16 -0.55 0" rpy="0 0 -1.5707963267948968"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_5_thigh">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.152"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_5_thigh_joint" type="revolute">
    <parent link="leg_5_hip"/>
    <child link="leg_5_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_5_calf">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.154"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_5_knee_joint" type="revolute">
    <parent link="leg_5_thigh"/>
    <child link="leg_5_calf"/>
    <origin xyz="0.22 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_5_foot">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.04"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_5_ankle_joint" type="fixed">
    <parent link="leg_5_calf"/>
    <child link="leg_5_foot"/>
    <origin xyz="0.08800000000000001 0 0" rpy="0 0 0"/>
  </joint>
  <link name="leg_6_hip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.678"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_6_hip_joint" type="revolute">
    <parent link="trunk"/>
    <child link="leg_6_hip"/>
    <origin xyz="0.47631397208144116 -0.27500000000000024 0" rpy="0 0 -0.5235987755982994"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_6_thigh">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.152"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.11 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.22" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_6_thigh_joint" type="revolute">
    <parent link="leg_6_hip"/>
    <child link="leg_6_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_6_calf">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.154"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.044000000000000004 0 0" rpy="0 1.54 0"/>
      <geometry>
        <cylinder length="0.08800000000000001" radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_6_knee_joint" type="revolute">
    <parent link="leg_6_thigh"/>
    <child link="leg_6_calf"/>
    <origin xyz="0.22 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="30"/>
  </joint>
  <link name="leg_6_foot">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.04"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leg_6_ankle_joint" type="fixed">
    <parent link="leg_6_calf"/>
    <child link="leg_6_foot"/>
    <origin xyz="0.08800000000000001 0 0" rpy="0 0 0"/>
  </joint>
</robot>
